/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .add-form{
    display: flex;
    flex-direction: column;
  }

  .links{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    align-items: center;
  }

  .button{
    display: flex;
    justify-content: end;
    margin: 10px;
  } */